.section1{ 
    text-align: center;
    font-size-adjust: auto;
    color:white;
    background: url('../img/h_img.jpg');
    background-size: cover;
    height:680px;
    padding: 2rem;
}


.logo{
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 100px;
}
.logo2{
    margin-left:auto;
    margin-right: auto;
    float: none;
    margin-top: 100px;
}
.section2{
    text-align:center;
    font-size-adjust: auto;
    color:white;
    background:url('../img/s_image.jpg');
    background-size:cover ;
    height:500px;
    padding:2rem;
}
body{
    background-color:white;
}
.about{
    color:black;
    left: 700px;
}
.bg{
    background-image: url('../img/s_image.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.column{
    float:left;
    width:300px;
    padding:5px;
}
.row ::after{
    content:"";
    clear:both;
}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}
.do{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}
.text-showing{
    display:none;
}
  

  